body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Change to flex-start to allow scrolling */
  min-height: 100vh; /* Adjust height to allow scrolling */
}

.container {
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px; /* Add some margin to the top */
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

nav a:hover {
  color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

li {
  margin: 10px;
  width: calc(20% - 20px); /* 5 images per row with spacing */
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}
